* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*=============== Navbar ================*/

nav {
    height: 65px;
    width: 100%;
    background-color: #073b4c;
    padding-left: 40px;
    overflow: hidden;
    position: fixed;
    z-index: 1;
}

.logo {
    font-size: 23px;
    text-decoration: none;
    line-height: 80px;
    font-weight: 700;
    display: inline-block;
    margin-top: -8px;
    margin-left: 40px;
    color: rgb(255, 255, 255);
}

ul {
    float: right;
    margin-right: 100px;
    list-style: none;
}

ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px;
    margin-top: -8px;
}

ul li a {
    text-decoration: none;
    font-weight: 700;
    font-size: medium;
    color: rgb(255, 255, 255);
}

label #btn,
label #close {
    color: rgb(255, 255, 255);
    font-size: 35px;
    float: right;
    margin-right: 80px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

/*================ Hero ===============*/

.hero {
    background-color: #073b4c;
    height: 670px;
    overflow: hidden;
    position: relative;
}

.hero__title {
    width: 50%;
    height: 320px;
    padding-top: 120px;
    padding-left: 180px;
    font-size: 180px;
    color: #fafaff;
    line-height: .9;
}

.hero__title p {
    font-size: 25px;
    line-height: 1.4;
    padding-left: 12px;
    padding-top: 10px;
    margin: 0;
}

.hero__title span {
    font-weight: 600;
    text-shadow: 0 20px 25px rgba(0,0,0,.5);
}

.hero__title button {
    display: flex;
    justify-content: center;
    background-color: rgb(192, 132, 19);
    color: white;
    font-size: 22px;
    border: 0;
    width: 215px;
    padding: 15px;
    border-radius: 15px;
    margin: 15px;
    cursor: pointer;
}

.hero__title a {
    text-decoration: none;
}

.hero__title button:hover {
    transform: scale(0.8);
    transition: 0.6s;
}

.hero__img {
    width: 50%;
    height: 100%;
    display: flex;
    float: right;
    padding-right: 10px;
}

.hero__img img {
    width: 700px;
    margin-top: -420px;
    margin-bottom: 420px;
}

/*============== About ===========*/

.about {
    text-align: center;
    padding: 5px;
}

.wrapper__text {
    display: flex;
    justify-content: flex-start;
    text-align: justify;
}

.about__title {
    color: black;
    font-size: 35px;
    margin-top: 90px;
    padding-top: 20px;
}

.about__img {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
    margin-top: -90px;
    padding-left: 40px;
}

.about__img img {
    display: flex;
    width: 580px;
    margin-bottom: 80px;
}


.about__text {
    width: 50%;
    height: 100%;
    color: black;
    position: flex;
    overflow: hidden;
}

.about__text h1 {
    font-size: 27px;
    padding-top: 80px;
    margin-bottom: 20px;
}

.about__text p {
    font-size: 16px;
    font-weight: 500;
    margin-right: 100px;
}

.contact h1 {
    margin-top: px;
}

.icon__sosmed a img {
    width: 60px;
    margin: 0 8px;
    cursor: pointer;
}

.icon__sosmed a img:hover {
    transform: scale(0.7);
    transition: 0.3s;
}

/*-------- Portofolio ---------*/

.portofolio {
    text-align: center;
    padding: 5px;
}

.portofolio__title {
    color: black;
    font-size: 35px;
    margin-top: 90px;
    padding-top: 20px;
}

.wrap_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 120px;
    padding-bottom: 200px;
    row-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
}

.card-atas img {
    width: 240px;
    border-radius: 20px;
}

.warp_card a {
    color: black;
    text-decoration: none;
}

.card-atas{
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    height: 180px;
    box-shadow: 6px 7px rgb(233, 232, 232);
}

.card-bawah {
    position: absolute;
    bottom: 200px;
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,.3);
    cursor: pointer;
    backdrop-filter: blur(10px);
    transition: .3s;
    border-radius: 30px;
}

.card-atas:hover .card-bawah{
    bottom: 0;
}

.card-bawah h2 {
    color: rgba(44, 43, 43, 0.726);
}

/*--------------- Skill ----------*/

.skill {
    text-align: center;
    padding: 5px;
    margin-bottom: 50px;
}

.wrap__skill {
    display: flex;
    justify-content: flex-start;
    text-align: justify;
    padding-right: 150px;
    padding-top: 80px;

}

.skill__title {
    color: black;
    font-size: 35px;
    margin-top: 90px;
    padding-top: 20px;
}

.skill__img {
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    margin-top: -10px;
    padding-left: 60px;
}

.skill__img img {
    display: flex;
    width: 500px;
    margin-bottom: 80px;
}

.skill__text {
    width: 50%;
    height: 100%;
    color: black;
    position: flex;
    overflow: hidden;
}

.icon__skill {
    margin-left: 80px;
    padding-top: 40px;
}

.icon__skill .design {
    padding-top: 20px;
}

.skills__subtitle {
    font-size: 20px;
}

.icon__skill a img {
    padding-top: 5px;
    width: 75px;
    margin: 0 10px;
}

.icon__skill a img:hover {
    transform: scale(0.7);
    transition: 0.3s;
}

/*---------------- Footer --------------*/

footer {
    height: 40px;
    background-color: #073b4c;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*=============== Responsif ===========*/

@media screen and (max-width: 1500px){
    ::-webkit-scrollbar {
        display: none;
    }
}

@media (min-width: 300px) and (max-width: 800px) {
    ::-webkit-scrollbar {
        display: none;
    }

    .logo {
        line-height: 80px;
        display: inline-block;
        margin: 0;
        color: rgb(255, 255, 255);
    }

    label #btn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        margin-right: 0;
        right: -100%;
        top: 80px;
        background-color: rgb(240, 246, 247, .8);
        text-align: center;
        transition: .5s;
        z-index: 1;
    }

    #list__nav a {
        font-size: 25px;
        color: black;
    }

    ul li {
        display: block;
        line-height: 10px;
        margin: 50px 0;
    }

    #check:checked ~ ul {
        right: 0;
    }

    #check:checked ~ label #btn {
        display: none;
    }

    #check:checked ~ label #close {
        display: block;
    }
    
    .hero {
        background-color: #073b4c;
        height: 510px;
        overflow: hidden;
        display: flex;
        position: relative;
        padding-bottom: 200px;
    }

    .hero__title {
        width: 50%;
        height: 320px;
        margin: 0;
        padding-top: 150px;
        padding-left: 20px;
        font-size: 120px;
        color: #fafaff;
        line-height: .9;
    }

    .hero__title p {
        font-size: 16px;
        line-height: 1.4;
        padding-left: 12px;
        padding-top: 10px;
        margin-right: -50px;
    }

    .hero__title span {
        font-weight: 600;
        text-shadow: 0 20px 25px rgba(0,0,0,.5);
    }

    .hero__title button {
        display: flex;
        justify-content: center;
        background-color: rgb(192, 132, 19);
        color: white;
        font-size: 22px;
        border: 0;
        width: 215px;
        padding: 15px;
        border-radius: 15px;
        margin-top: 10px;
        margin-left: -10px;  
        cursor: pointer;
        transform: scale(.8);
    }

    .hero__title a {
        text-decoration: none;
    }

    .hero__title button:hover {
        transform: scale(0.8);
        transition: 0.6s;
    }

    .hero__img {
        display: none;
    }

    .about {
        text-align: center;
        padding: 5px;
    }
    
    .wrapper__text {
        display: flex;
        flex-direction: column;
    }
    
    .about__title {
        color: black;
        align-items: center;
        font-size: 30px;
        margin: 0;
        margin-top: 90px;
        padding-top: 20px;
    }
    
    .about__img {
        display: none;
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        margin-top: -50px;
        padding-left: 40px;
    }
    
    .about__text {
        width: 82%;
        color: black;
        display: block;
        overflow: hidden;
        margin-left: 30px;
    }
    
    .about__text h1 {
        font-size: 19px;
        padding-top: 20px;
        margin-bottom: 20px;
    }
    
    .about__text p {
        font-size: 14px;
        font-weight: 500;
        margin-right: 0;
    }
    
    .contact h1 {
        margin-top: 19px;
    }
    
    .icon__sosmed a img {
        width: 50px;
        margin: 0 8px;
    }
    
    .icon__sosmed a img:hover {
        transform: scale(0.7);
        transition: 0.3s;
    }

    .portofolio {
        text-align: center;
        padding: 5px;
    }

    .portofolio__title {
        color: black;
        text-align: center;
        font-size: 30px;
        margin: 0;
        margin-top: 90px;
        padding-top: 20px;
    }

    .wrap_card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-top: 70px;
        padding-bottom: 0;
        row-gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 2rem;
    }

    .development {
        margin-bottom: 20px;
    }

    .skill__img {
        display: none;
    }

    .skill {
        align-items: center;
        text-align: center;
        padding: 5px;
        margin-bottom: 50px;
    }
    
    .wrap__skill {
        display: center;
        justify-content: center;
        text-align: center;
        margin-top: 30px;
        margin-right: 40px;
        padding: 0;
    
    }
    
    .skill__title {
        color: black;
        text-align: center;
        font-size: 30px;
        margin: 0;
        margin-top: 90px;
        padding-top: 20px;
    }
    
    .skill__img {
        width: 50%;
        height: 100%;
        justify-content: center;
        align-items: center;
        margin-right: 70px;
        margin-top: 20px;
        padding-left: 60px;
    }
    
    .skill__img img {
        display: flex;
        width: 550px;
        margin-bottom: 80px;
    }
    
    .skill__text {
        width: 50%;
        height: 100%;
        color: black;
        position: flex;
        overflow: hidden;
    }
    
    .icon__skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 40px;
        padding-top: 30px;
    }
    
    .skills__subtitle {
        position: relative;
        display: center;
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .icon__skill a img {
        width: 80px;
        margin: 0 10px;
    }
    
    .icon__skill a img:hover {
        transform: scale(0.7);
        transition: 0.3s;
    }
}
